.header{
   display: flex;
    width:150px;
    transition-duration: 500ms;
    transform: translate(-165px);
}
.header:hover{
    display: flex;
    transition-duration: 500ms;
    transform: translate(0)
}
.links a{
    padding: 10px;
    text-decoration: none;
    color: black;
}
.links a.active{
    color: gold;
}